.responsive-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px
}
.responsive-item{
    background-color: beige;
    color:black;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
}

@media(max-width: 768px){
    .responsive-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 480px){
    .responsive-container{
        grid-template-columns: repeat(1, 1fr);
    }
}