header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    background-color: #24292e;
  }
  body {
    background-color: #24292e;
  }
  .headerNav {
    display: flex;
    color: white;
    width: 40rem;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
  }
  .headerNav img {
    width: 3rem;
    height: 3rem;
  }
  
  .headerSign {
    display: flex;
    align-items: center;
    color: white;
    width: 28rem;
    justify-content: space-between;
  }
  .headerSign > :nth-child(1) {
    width: 17rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.4rem;
    background-color: rgba(85, 91, 96, 1);
    font-size: 1rem;
    padding: 0.5rem;
  }
  .headerSign > :nth-child(1)::placeholder {
    color: white;
  }
  
  .headerSign > :nth-child(3) {
    width: 5rem;
    height: 2rem;
    border-radius: 0.4rem;
    background-color: transparent;
    color: white;
    border-color: white;
    border: solid 1px;
    font-size: 1rem;
    cursor: pointer;
  }
  .bodyContainer {
    display: flex;
    justify-content: center;
  }
  .textWrapper {
    width: 35rem;
    max-height: 20rem;
    color: white;
    padding: 5rem;
  }
  .text1 {
    font-size: 5rem;
    font-weight: bold;
  }
  .text2 {
    font-size: 1.5rem;
    color: rgba(246, 246, 246, 0.649);
  }
  u {
    color: white;
  }
  span {
    color: rgba(12, 80, 207, 0.911);
  }
  .SignupWrapper {
    width: 27rem;
    height: 34rem;
    background-color: white;
    padding: 2.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .SignupContainer input {
    width: 25.5rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    border: 3px solid rgb(221, 221, 221);
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: black !important;
  }
  .SignupContainer input:focus {
    background-color: #d2def8f4;
  }
  .submitButton {
    width: 27rem;
    height: 4.5rem;
    border: none;
    background-color: #4ec66a;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    color: white;
    margin: 1rem;
    cursor: pointer;
  }
  .text3 {
    font-size: 0.82rem;
    color: #606263;
  }
  .text4 {
    font-size: 0.82rem;
    color: #888c8f;
  }
  
  footer img {
    position: absolute;
    right: 13rem;
    bottom: 0%;
  }
  .whiteBlock {
    background-color: white;
    width: 99.5%;
    height: 13rem;
    position: absolute;
    bottom: 0%;
  }